body{
    margin: 0;
padding: 0;
font-family: Century Gothic;
background-size: cover;
}

.main{
    max-width: 1200px;
    margin: auto;
}

.titletxt{
    top: 20px;
    margin-left: 25px;
    max-width: 500px;
    font-size: 40px;
    color: black;
}

.mainimage{
   margin: auto;
   display: flex;
   justify-content: center;
   padding-bottom: 20px;
   width: 400px;
   height: 300px;
}

.firstpara{
    margin-top: 10px;
    margin-left: 20px;
   padding-bottom: 20px;
    font-size: 20px;
    color: rgb(49, 48, 48);
    font-family: 'Lucida Sans';
}

.secondimage{
    margin: auto;
    display: flex;
    justify-content: center;
    padding-bottom: 20px;
   width: 400px;
   height: 300px;
}

.secondpara{
    margin-top: 10px;
    margin-left: 20px;
   padding-bottom: 20px;
    font-size: 20px;
    color: rgb(49, 48, 48);
    font-family: 'Lucida Sans';
}

.downloadbtn{
    margin: auto;
    display: flex;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 300px;
    transition: 0.6s ease;
    display: flex;
    justify-content: center;
    background-color: blue;
    font-size: 20px;
    text-align: center;
    border-radius: 10px;
    color: white;
}

.made{
    margin: auto;
    display: flex;
    justify-content: center;
    padding-top: 30px;
    padding-bottom: 30px;
}
